name: "Terraform Workflow"

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      aws-assume-role-arn:
        type: string
        required: true
      aws-region:
        type: string
        required: true
      aws-statefile-s3-bucket:
        type: string
        required: true
      aws-lock-dynamodb-table:
        type: string
        required: true


jobs:
  terraform:
    #estamos indicando que o step vai rodar nessa maq ubuntu e todos os comandos do run, serao no terminal bash
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    #vamos agora configurar os passos que nossa pipeline deve seguir
    steps:
      - uses: actions/checkout@v2